*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo{
    display: flex;
    justify-content: center;

    padding-top: 5px;

    z-index: 1;

    height: 70px;
}



.header-pc{
    position: fixed;
    top: 0px;

    z-index: 1;

    width: 100%;
}

.main-forside{
    margin-top: 190px;
}


/*nav bar*/
nav ul{
    list-style: none;
    position: relative;
    text-align: center;
    width: 100%;
}

/*hvert link box i nav*/
nav li{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

/*nav text*/
nav a{
    color: rgb(0, 0, 210);
    text-decoration: none;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14pt;
}

nav .container .manu-main div li a{
    font-weight: 300;
}


.manu-main,
#logo{
    background-color: rgba(255, 255, 255, 0.8);
}



.nav-head h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}



#banner{
    background-image: url(img/banner.jpg);
    height: 850px;
    margin-top: -190px;
    display: flex;
    justify-content: center;
}

#banner div {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 400px;
    width: 800px;
    height: 150px;
}
#banner h1 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 210);
    text-align: center;
    font-size: 50pt;
}
#banner h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 210);
    text-align: center;
}


/*Gør knapperne "Shop, Tips og tricks osv" lettere at ramme + dropdown menuen forsvinder ikke*/
.nav-head{
    padding: 20px;
}

/*dropdown menuen*/
.menu-sub{
    position: absolute;
    width: 820px;

    background-color: rgba(255, 255, 255, 0.7);

    /*dropdown menuen vises ikke når musen ikke holdes over*/
    display: none;

    padding: 2em;

    margin-top: 20px;

}

/*dropdown menuen vises når musen holdes over Shop*/
nav li:hover .menu-sub{
    display: block;
}

/**/
.menu-sub li {
    display: block;
}

/*dropdown store kategorier (dame, herre, børn, interiør)*/
.menu-sub h3 {
    text-align: left;

    margin-top: 10px;
    margin-bottom: 20px;


}

/*dropdown store små kategorier kasser (trøjer, toppe, bukser)*/
.manu-main .menu-sub li{
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;

    color: red;
}

/*dropdown store små kategorier skrift (trøjer, toppe, bukser)*/
.manu-main .menu-sub li a{
    color: black;
}


.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4{
    float: left;
    width: 25%;
}


/*hover efektter på "Trøjer, toppe, bukser osv"*/

.menu-sub div ul li a:hover{
    border-bottom: solid  rgb(0, 0, 210) 2px;
}


/*stregens egenskaber*/
.hover-underline {
    position: relative;
  }
  
  
  .hover-underline::after {
    /*stregen skal være under teksten*/
    content: '';

    position: absolute;

    /*stregen fylder tekstens bredde*/
    width: 100%;

    /*stregens x(bredde) starter med at være 0*/
    transform: scaleX(0);

    /*højde på stregen*/
    height: 3px;

    /*animationen skal starte i bunden i venstre af teksten*/
    bottom: -7px;
    left: 0;

    /*stregens farve*/
    background-color: rgb(0, 0, 210);

    /*stregen slutter ud i højre side*/
    transform-origin: bottom right;

    /*animationen tager 0.25 sekunder*/
    /*animationen starter hurtigigt og deaccelererer til slut*/
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline:hover::after {
    /*stregens bredde(x-værdi) er synlig og hele rekstens 
    bredde, når man stopper med at hover*/
    transform: scaleX(1);

    /*stregen starter med at forsvinde fra venstre side, 
    når man stopper med at hover*/
    transform-origin: bottom left;
  }

  @media only screen and (max-width: 890px) {
    .header-pc {
      display: none;
    }

    .header-mobil{
        margin-top: 0px;
        height: 80px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        
        justify-content: space-around;
        align-items: center;

        position: fixed;

        z-index: 100;
    }

    .logo-mobil img{
        height: 40px;
    }

    .kurv-mobil{
        scale: 80%;
        position: relative;
    }
    
    .main-forside{
        margin-top: 20px;
    }
  }

  @media only screen and (min-width: 890px) {
    .header-mobil {
      display: none;
    }
  }
























/* Bliv Frivillig Sektion */
.frivillig {
    height: 300px;
    background-color: lightgray;
}
.frivillig div {
    text-align: center;
}
.frivillig h1 {
    color: rgb(0, 0, 210);
    font-size: 30pt;
    text-transform: uppercase;
    padding-top: 90px;
    font-family: 'Oswald', sans-serif;
}
.frivillig h2 {
    color: rgb(0, 0, 210);
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}

/* SHOP SEKTION PÅ FORSIDE */
.shop {
    height: 700px;
    width: 100%;
    background-image: url(images/shopbaggrund.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shop div {
width: 100%;
}



.damer {
    border: solid black 2px;
    margin-top: 50px;
    height: 600px;
    width: 300px;
    margin-left: 170px;
    padding: 10px;
    box-shadow: 0px 0px 15px #000000;
    background-image: url(images/damer.jpg);
    background-size: cover;
}
.shop :hover { 
    transform: scale(1.1);
    transition: 0.25s;
}

.shop .nottarget, .shop .interiørtop{
    transform: scale(1.0);
}

.herre {
    margin-top: 150px;
    background-image: url(images/herre.jpg);
    height: 400px;
    width: 300px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid;
    padding: 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px #000000;
}

.interiør {
    margin-top: 150px;
    background-image: url(images/interioer.jpg);
    height: 400px;
    width: 300px;
    margin-right: 100px;
    padding: 10px;
    box-shadow: 0px 0px 15px #000000;
}

.damer h1 {
    color: rgb(0, 0, 210);
    margin-left: 10px;
    margin-top: 365px;
    font-size: 30pt;
    text-transform: uppercase;
}
.herre h1 {
    color: rgb(0, 0, 210);
    margin-left: 10px;
    margin-top: 265px;
    font-size: 30pt;
    text-transform: uppercase;
}
.shop h2 {
    color: rgb(0, 0, 210);
    margin-left: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.shop h1 {
    font-family: 'Oswald', sans-serif;
}

.interiør h1 {
    color: rgb(0, 0, 210);
    margin-left: 10px;
    font-size: 30pt;
    text-transform: uppercase;
}
/* Givet den et id, da margin top ikke skal være så høj i denne boks,
da der er flere linjer med H1 */
.interiørtop {
    margin-top: 90px;
}

/* DIY SEKTION PÅ FORSIDE */
.diy {
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.diy div {
    height: 500px;
    width: 350px;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    box-shadow: 5px 10px 18px #000000;

}

#stearin {
    background-image: url(images/stearinlys.jpg);
}
#redskabsholder {
    background-image: url(images/redskabsholder.jpg);
}

.diy h1 {
    color: rgb(0, 0, 210);
    font-size: 28pt;
    margin-top: 370px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.diy h2 {
    color: rgb(0, 0, 210);
    margin-left: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.diy :hover { 
    transform: scale(1.1);
    transition: 0.25s;
}

/* VERDENSMÅL SEKTION PÅ FORSIDE */
.verdensmål {
    height: 300px;
    background-color: black;
}
.verdensmål div {
    text-align: center;
}
.verdensmål h1 {
    color: white;
    font-size: 30pt;
    text-transform: uppercase;
    padding-top: 90px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
.verdensmål h2 {
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}

/* HER STARTER FOOTEREN */
footer {
    height: 250px;
    background-color: lightgrey;
}

/* Ikonerne i footeren */
.icons {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
}

footer section div svg {
    height: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Navigation i footeren */
.navfooter {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}

.navfooter a {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    
}

/* vertikal streg mellem nav i footeren */
.border {
    border-right: 2px solid black;
}



/* HER STARTER SHOP UNDERSIDEN */
.shopfp {
    background-image: url(images/shopbanner.jpg);
    width: 100%;
    background-size: cover;
    height: 1400px;
}

.shopfp div {
    display: flex;
    width: 100%;
}  
.shopfp {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.shoph1, .shoph2, .shoph3 {
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 210);
}
.shoph1 {
    font-size: 28pt;
}
.shoph2 {
    margin-top: 50px;
}
.shoph2 h2 {
    padding: 10px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
}
.shoph3 {
    padding-top: 400px;
    font-size: 15pt;
}
.shoph3 h3 {
    font-weight: 300;
}



/* HER STARTER SHOP DAME */
#topshop {
    display: flex;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 210);
    width: 100%;
    padding-left: 200px;
    padding-top: 200px;
}
#topshop h2 {
    margin-left: 5px;
    margin-right: 5px;
}

.weight300 {
    font-weight: 300;
}
.shopdameflex {
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 210);
}
.shopdameflex h2 {
    padding-top: 200px;
    padding-left: 200px;
    width: 100%;
}
.shopkategori {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shopkategori h1 {
    margin-top: 20px;
}

.plus {
    margin-left: 90px;
}
.hvid {
    margin-left: 90px;
    color: white;
}
.plushvid {
    color: white;
}
.shopdamebillede {
    height: 400px;
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
}
.shopdamebillede img {

}
